[Unit]
Description=home-wol-gateway
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/home-wol-gateway
WorkingDirectory=/etc/home-wol-gateway
Restart=always
RestartSec=2
StartLimitIntervalSec=0

User=home-wol-gateway
Group=home-wol-gateway
AmbientCapabilities=CAP_NET_RAW
NoNewPrivileges=true
ProtectSystem=strict
ReadWritePaths=/etc/home-wol-gateway
PrivateTmp=true

[Install]
WantedBy=multi-user.target
